.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.accent-bg{
  background-color: #E54065;
}

.accent{
  color: #E54065;
}

.body-bg{
  background-color: #F4F5F9;
}

.border{
  color:#CFD2DC;
}

.text{
  color: #636363;
}

.filter-btn{
  background-color: #E1E4EA;
  border-radius: 1em;
  border:none;
  padding: 0.5em;
  cursor: pointer;
}

.read-bg{
  background-color: #F2F2F2;
}

.fav-btn{
  border-radius: 1em;
  border:none;
  padding: 0.5em;
  cursor: pointer;
  background-color: #E54065;

}